<div class="modal fade" id="modalEkle" tabindex="-1" data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
         role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Yeni Firma Ekle
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


          

                <div class="mb-3 row">
                    <input type="text" id="txtname" class="form-control" placeholder="Lütfen firma ismi giriniz" />
                </div>
                






            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Kapat </button>
                <a id="btnSave" class="btn btn-primary"> Kaydet </a>
            </div>
        </div>
    </div>
</div>



<div class="card">
    <div class="card-header d-flex"><div class="col-11 text-center bg-warning">BAŞLIK</div><div class="col-1"><button class="btn btn-success" id="btnAdd"> EKLE </button></div></div>
    <div class="card-body">
        <table class="table table-striped table-sm table-success" id="tblCompany"> </table>
    </div>
</div>


@section Scripts {
    <script>

        var dataTable;
        $(document).ready(function () {
            dataTable()
            $("#btnAdd").click(function () {
                $("#modalEkle").modal("show")
                $("#btnSave").click(add)
            })
        })

        function dataTable(){
            dataTable = $("#tblCompany").DataTable({
                ajax:"/Company/GetAll",
                columns:
                [
                        {
                            data:"id", title:"id"
                        },
                        {
                            data:"name", title:"Firma"
                        },
                        {
                            data: "employees", title: "Çalışanlar", render: function(data) {
                                console.log(data)
                                let txt=""
                                for (let item of data) 
                                {
                                    txt += `<span>${item.fullName}</span></br>`;
                                }
                                return txt === "" ? "Çalışanı Yoktur.": txt
                            }
                        },
                        {
                            data: "id", title: "İşlemler", render: function (data) {
                                return `<button class="btn btn-danger" onclick="Delete(${data}, this)">SİL</button>
                                <button class="btn btn-warning" onclick="Update(${data},this)">Güncelle</button>`
                            }
                        }
                ]
            })
        }

        function add() {
            $.ajax({
                url:"/Company/Add",
                type:"GET",
                data: {
                    name:$("#txtname").val(),
                    
                },
                success: function () {
                    alert("Ekleme Başarılı.")
                    $("#modalEkle").modal("hide")
                }
            })
        }

        function Delete(id, element) {
            let row=$(element).parents("tr")
            $.ajax({
                url: "/Company/Delete",
                type:"POST",
                data:{
                    id:id,
                },
                success: function (res) {
                    dataTable.row(row).remove().draw()
                    alert("Silme Başarılı..")
                }
            })
        }

        function Update (id, element){
            let row= $(element).parents("tr")
            let oldData= dataTable.row(row).data()
            $("#modalEkle").modal("show")
            $("#txtname").val(oldData.name)
            $("#btnSave").off().removeClass("btn-primary").addClass("btn-warning").text("Güncelle").click(function () {
                $.ajax({
                    url:"/Company/Update",
                    type:"POST",
                    data:{
                        id:id,
                        name: $("#txtname").val()
                    },
                    success: function(res) {
                        dataTable.row(row).data(res).draw()
                        alert("Güncelleme Başarılı..")
                        $("#modalEkle").modal("hide")
                    }
                })
            } )

        }

    </script>
}